/* 横向 flex */
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-row-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* 纵向 flex */
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-col-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}